<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/chatroomio/style.css">
</head>
<body>

<h3>Chat!</h3>
<div id="chat">
      <div id="log">
        
      </div>
      <div id="toolbar">
        <ul id="status">
          <li id="usersLink"></li>
        </ul>
        <textarea id="entry"></textarea>
      </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/stable/socket.io.js" ></script>
<script>WEB_SOCKET_SWF_LOCATION = 'http://cdn.socket.io/stable/WebSocketMain.swf';</script>
<script type="text/javascript" src="/static/chatroomio/chat.js" ></script>
<script>
REPO = "local";
USER_NAME = "me";
</script>
</body>
</html>
